{% extends 'base.html.twig' %}

{% block title %}{{ pageTitle }}{% endblock %}

{% block body %}
    <h1>{{ pageTitle }}</h1>

    <ul class="contacts">
        {% for contact in contacts %}
            <li><a href="{{ path('contact_show', {'id': contact.id}) }}">{{ contact.lastname }}, {{ contact.firstname }}</a></li>
        {% endfor %}
    </ul>
{% endblock %}
